{% extends 'layout.html' %}

{% block title %}折溢价套利{% endblock %}

{% block content %}


<div class="card text-center">
    <div class="card-header">
    <p>这个列表涵盖了沪深LOF/海外QDII基金，筛选条件是实时折价率小于-3%或者溢价率大于5%，且交易量>1万手。<b>对QDII类，指的是T-1折溢价</b>。如果您想及时获得可套利的机会，请在页面下方订阅邮件通知，通知时附加了可申购和可赎回条件，即真实可套利机会。</p>
    </div>
    <div class="card-body">
        <table class="table table-striped table-dark">
    
            <thead>
            <tr>
            {% if result['records'] %}
            {% for head in result['records'][0].keys() %}
            <th scope="col">
            {{ head }}    
            </th>
            {% endfor %}
        
            </tr>
            </thead>
            <tbody>
                
                {% for record in result['records'] %}
                    <tr>
                        {% for k,v in record.items() %}
                        <td>
                            {{ v|safe }}
        
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
            {% else %}
            今日无折溢价标的，请耐心等待
		    {% endif %}
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">

    <form method="POST" action="/mail/subscribe/">
        {{ subform.csrf_token }}
        {{ subform.url() }}

        {{ subform.email.label }}
        {{ subform.email()}}

        {{ subform.time.label }}
        {{ subform.time() }}

        <input name='subscribe' type="submit" value="订阅提醒">
        <input name='unsubscribe' type="submit" value="取消提醒">                   
    </form>

    </div>

    </div>


{% endblock %}

{% block note %}
  
{% endblock %}
