{% extends 'layout.html' %}

{% block title %}折溢价*可套利*ETF/股债/QDII*基金列表{% endblock %}

{% block content %}

<div class="card-header">

</div>

<div class="card">
    <div class="card-body">
        <table class="table table-striped table-dark">
    
            <thead>
            <tr>
            {% if result['records'] %}
            {% for head in result['records'][0].keys() %}
            <th scope="col">
            {{ head }}    
            </th>
            {% endfor %}
        
            </tr>
            </thead>
            <tbody>
                
                {% for record in result['records'] %}
                    <tr>
                        {% for k,v in record.items() %}
                        <td>
                            {{ v|safe }}
        
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
		    {% endif %}
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
<p>
    <form method="POST" action="/subscribe/">
        {{ subform.csrf_token }}
            {{ subform.url() }}

            {{ subform.email.label }}
            {{ subform.email()}}

            {{ subform.time.label }}
            {{ subform.time() }}

 
            <input name='subscribe' type="submit" value="订阅提醒">
            <input name='unsubscribe' type="submit" value="取消提醒">
        </dl>                   
        
    </form></p>
    <p>标的说明: 沪深LOF/股债/QDII基金，折价小于-6%/溢价大于6%，1万手以上，溢价时可申购/折价时可赎回</p>
    <p>提醒功能说明：折溢价幅度超过9%，且过滤剔除没有联结基金的ETF（含QDII）</p>
    </div>

    </div>


{% endblock %}

{% block note %}
  
{% endblock %}
